$mainColor : #FFFFFF;
$secondaryColor : #D7D7D7;
$gradientColor : linear-gradient(90.1deg, #BD00FF 1.18%, #A90000 116.93%);
$glassColor : rgba(138, 25, 156, 0.15);
$glassBlur : blur(25px);
$borderColor : rgba(255, 255, 255, 0.6);